@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
}

footer {
  font-size: 13px;
}

section.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: auto !important;
}